@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-true-black: #000000;
  --color-true-white: #ffffff;
  --color-primary: #cba6f7;
  --font-mono: 'Maple Mono', monospace;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-mono);
}

body {
  @apply bg-true-black text-true-white min-h-screen font-mono;
}

*:focus {
  outline: none;
}

*:focus-visible {
  @apply outline-2 outline-offset-2 outline-white;
}

button:focus-visible,
[role='button']:focus-visible,
a:focus-visible {
  @apply ring-offset-true-black ring-2 ring-white ring-offset-2;
}

a {
  @apply transition-colors duration-200;
}

a:hover {
  @apply text-white;
}

::selection {
  @apply text-true-black bg-white;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}
